.div-body {
    background-color: #f9f9f9;
}

/* Header Styling */
.navbar-container {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    border: black 10px;
    width: 100%;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 0;
    width: 100%;
    display: flex;
}

.navbar-row {
    width: auto;
}

.nav-img-col {
    width: 29%;
}

.navbar-img {
    height: 75px;
    width: 220px;
    transform: scale(0.8);
    margin-top: 5px;
}

.nav-title-col {
    width: 500px;
}

.navbar-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: #f9f9f9;
    font-weight: 700;
    align-self: left;
    padding-left: 0px;
    letter-spacing: 2.5px;
    width: 50%;
}

.nav-about-col {
    width: 10%;
    justify-self: end;
    margin-right: 0;
}

.nav-about {
    color: white;
    width: 40%;
    font-weight: 400;
    text-decoration: underline;
    display: inline;
    margin-right: 0;
    margin-left: auto;
}

.nav-about:hover {
    color: #f9f9f9;
}

/* Options Styling */
.col1 {
    width: 20%;
    align-self: left;
}

@media (min-width: 1200px) {
    .option-container {
        margin-top: 20px;
        margin-left: 15px;
    }    
}

.option-card {
    background-color: white;
    border-radius: 0;
}

.option-header {
    padding-left: 17px;
    padding-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00264C;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    letter-spacing: 1.2px;
}

.option-hr {
    border-top: 3px dotted;
    margin-top: 0px;
    margin-bottom: 5px;
}

.option-modal {
    padding-left: 17px;
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999;
    font-size: 18px;
    font-weight: bold;
}

.option-select {
    all: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-top: none;
    color: black;
}

.Select--single > .Select-control, .Select-value, .Select-placeholder {
    color: black;
}

/* dropdown menu options */
.VirtualizedSelectOption {
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
 }


/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
    background-color: lightgrey;
    opacity: .7;
}

.station-toggle {
    margin-left: 5px;
}

/* Recoloring toggle switches and removing dropshadow */
.form-switch .form-check-input:focus {
    background-color: #00264C;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>")
}
.form-switch .form-check-input:checked {
    background-color: #00264C;
    border-color: #00264C;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>")
}

/* Map  Styling */
@media (min-width: 1200px) {
    .map-container {
        width: 78%;
        margin-top: 20px;
        margin-right: 15px;
        align-self: right;
    }    
    .map-card {
        background-color: #999;
        border-radius: 0;
    }
}

.map-modal {
    padding-left: 17px;
    margin: 5px;
    margin-top: 7px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 73%;
    letter-spacing: 1.2px;
}

.spatial-plot {
    background-color: #999;
    align-self: stretch;
}

.metadata-button {
    background-color: #00264C;
    border-color: #00264C;
    color: white;
    border-radius: 5px;
    width: 12%;
    margin: 5px;
    text-wrap: nowrap;
    align-self: left;
}

.metadata-fade {
    position: absolute;
    right: 0;
    top: 7%;
    margin-right: 5px;
    opacity: 0.90;
}

.medata-card {
    opacity: 0.75;
}

.metadata-modal {
    padding-left: 4px;
    margin: 0px;
    color: #999;
    font-size: 20px;
    font-weight: bold;
}

.metadata-table {
    font-size: 14px;
    margin: 0px;
}

.reset-button {
    background-color: #999;
    border-color: #c73228;
    color: white;
    border-radius: 5px;
    width: 12%;
    margin: 5px;
    text-wrap: nowrap;
    align-self: right;
}

.btn-danger:active {
    background-color: #c73228;
}

.reset-button:hover {
    background-color: #999;
    border-color: #c73228;
}

.stats-container {
    margin-top: 20px;
    width: 98.5%;
    border-radius: 0px;
}

.stats-card {
    border-radius: 0px;
    background-color: #999;
}



/* MISC */
.drop-shadow {
    box-shadow: 0.5px 0.5px 2px 0.5px #000000;
}